/aclocal.m4
/config.guess
/config.log
/config.mak
/config.status
/config.sub
/configure
/install-sh
/pgbouncer
/autoproxy
/.objs
/tags
TAGS
/test/.objs
/test/hba_test
/test/log
/test/test.log
/test/test.pid
*.html
*.xml
*.exe
*.gz
*.swp
*~\#*
*~